.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .popup h2{
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0 10px;
  }