.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #FF4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-profile {
  display: flex;
  cursor: pointer;
}

.nav-profile img {
  width: 40px;
}

.nav-admin img {
  width: 40px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  background: white;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 50%;
  font-size: 14px;
  background: red;
  color: white;
  border: 2px solid white;
}

.nav-dropdown {
  display: none;
  margin-left: 30px;
}

.search-container {
  position: relative;
  margin-left: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container .search-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container .search-inner input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  outline: none;
}

.search-container .search-btn {
  padding: 5px 10px;
  border: none;
  background-color: #ff4111;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.search-container .search-btn:hover {
  background-color: rgb(253, 119, 41);
}

.search-container .dropdown {
  position: absolute;
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 48px;
}

.search-container .dropdown.hidden {
  display: none;
}

.search-container .dropdown-row.hidden {
  display: none;
}

.search-container .dropdown .dropdown-row {
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-container .dropdown .dropdown-row:hover {
  background-color: #f1f1f1;
}

@media(max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo img {
    width: 40px;
  }

  .nav-logo p {
    font-size: 25px;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }

  .nav-menu {
    display: none;
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    justify-content: center;
    top: 50px;
  }

  .nav-menu-visible {
    display: flex;
    margin-top: 20px;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }

  .nav-login-cart {
    gap: 30px;
  }

  .nav-profile img {
    width: 40px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-cart-count {
    margin-left: -40px;
    font-size: 12px;
  }
}

@media(max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-logo p {
    font-size: 20px;
  }

  .search-container {
    width: 100%;
  }

  .search-container .dropdown {
    width: 100%;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }

  .nav-menu {
    display: none;
    font-size: 16px;
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    justify-content: center;
    top: 50px;
  }

  .nav-menu-visible {
    display: flex;
    margin-top: 10px;
  }


  .nav-login-cart img {
    width: 30px;
  }

  .nav-profile img {
    width: 30px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
    font-size: 10px;
    margin-top: -25px;
  }
}

@media(max-width: 800px) {
  .navbar {
    padding: 10px 0px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-logo p {
    font-size: 18px;
  }

  .search-container {
    margin-right: 20px;
  }

  .search-container .search-inner input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: none;
    outline: none;
  }

  .search-container .dropdown {
    width: 100%;
  }

  .nav-menu {
    display: none;
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    justify-content: center;
    top: 100px;
  }

  .nav-menu-visible {
    display: flex;
    margin-top: 80px;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media(max-width:500px) {
  .navbar {
    padding: 10px 0px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-logo {
    transform: scale(0.8);
  }

  .nav-menu {
    height: 70px;
    top: 50px;
    font-size: 14px;
  }

  .nav-menu-visible {
    display: flex;
    margin-top: 130px;
  }

  .search-container .dropdown .dropdown-row {
    font-size: 12px;
  }

  .nav-login-cart {
    transform: scale(0.8);
  }
}