.search-results-indexSort {
  display: flex;
  margin: 30px 170px;
  justify-content: space-between;
  align-items: center;
}

.search-results-indexSort p span {
  font-weight: 600;
}

.search-results-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
}

.search-results-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.search-results-buttons button {
  background-color: #333;
  width: 120px;
  height: 60px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  font-size: 18px;
}

.search-results-buttons button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.search-results-buttons button:hover:not(:disabled) {
  background-color: #555;
}

@media (max-width: 1280px) {
  .search-results-indexSort {
    margin: 20px auto;
    width: 90%;
  }

  .search-results-indexSort p {
    font-size: 12px;
  }

  .search-results-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .search-results-products .item {
    margin: auto;
  }

}

@media (max-width: 1024px) {

  .search-results-indexSort {
    margin: 20px auto;
    width: 95%;
  }

  .search-results-indexSort p {
    font-size: 12px;
  }

  .search-results-products {
    width: 95%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .search-results-products .item {
    margin: auto;
  }

  .search-results-buttons {
    margin-top: 40px;
  }

  .search-results-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    margin: 0 5px;
    width: 110px;
    height: 45px;
  }

}

@media (max-width: 800px) {

  .search-results-indexSort {
    margin: 20px auto;
    width: 95%;
  }

  .search-results-indexSort p {
    font-size: 12px;
  }

  .search-results-products {
    width: 95%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .search-results-products .item {
    margin: auto;
  }

  .search-results-buttons {
    margin-top: 20px;
  }

  .search-results-buttons button {
    padding: 10px 20px;
    font-size: 15px;
    margin: 0 5px;
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 500px) {

  .search-results-indexSort {
    margin: 20px auto;
    width: 95%;
  }

  .search-results-indexSort p {
    font-size: 12px;
  }

  .search-results-products {
    grid-template-columns: 1fr 1fr;
  }

  .search-results-products .item {
    margin: auto;
  }

  .search-results-buttons {
    margin-top: 20px;
  }

  .search-results-buttons button {
    padding: 10px 20px;
    width: 80px;
    margin: 0 5px;
    width: 80px;
    height: 30px;
    font-size: 13px;
  }
}